<div class="row">
  <div class="col-12">
    <img
      src="{{ myRecipe.imagePath }}"
      alt="{{ myRecipe.name }} - {{ myRecipe.description }}"
      class="image-responsive"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ myRecipe.name }}</h1>
  </div>
</div>

<div class="row col-12">
  <div class="dropdown" appDropdown>
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">To Shopping List</a></li>
      <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
      <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
    </ul>
  </div>
</div>

<div class="row col-12">
  <p>{{ myRecipe.description }}</p>
</div>

<div class="row col-12">Ingredients</div>
